/* 2ch.net tweak */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("2ch.net"), domain("bbspink.com") {
form, hr, iframe, div[style^="float"] { display: none !important; }

h1 { font: bold large/1.8 "Migmix 2P", sans-serif !important; clear: both !important; }

dt a[href^="mailto:"]:after { content: " [" attr(href) "]"; }
dt a { color: #080 !important; text-decoration: none !important; }
dd { line-height: 1.5 !important; }
}
