/* Amazon.co.jp tweak */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("amazon.co.jp") {
#nav-cart { opacity: 0.3 !important; }

/* Old */
.buying b > a[href*="seller="],
#BBAvailPlusMerchID b,
/* New */
#merchant-info > a[href*="seller="],
#soldByThirdParty b
{
color: #d00 !important;
font: bold 250% sans-serif !important;
text-decoration: none !important;
}
#BBAvailPlusMerchID b:before, /* Old */
#soldByThirdParty b:before    /* New */
{ content: "\A"; white-space: pre !important; }

#soldByThirdParty + .a-button-stack { opacity: 0.3 !important; }

[id*="A9Ads"] * {
font: 8pt/0.9 sans-serif !important;
padding: 0 !important;
margin: 0 !important;
opacity: 0.9 !important;
}

#buyboxusedDivId,        /* 中古品を購入 */
#prime_buybox_lower_div, /* お急ぎ便無料でショッピングカートに入れる */
#ftMessage,              /* ○○日にお届けします */
#primenote_feature_div,  /* 別の出品者から価格が低い商品が出品されています */
.itemUsedAndNew,         /* ○○点の新品/中古品 ○○円より @wishlist */
#ddmMessage, #dynamicDeliveryMessage_feature_div, /* 住所からお届け予定日を確認 (Old, New) */
.mbcBox, #moreBuyingChoices_feature_div,          /* こちらからもご購入いただけます (Old, New)  */
#tafContainerDiv, #tellAFriendBox_feature_div,    /* シェアする (Old, New) */
#olpDivId, #olp_feature_div                       /* 新品の出品 : ○ ￥○○より (Old, New) */
{
opacity: 0.3 !important;
/* display: none  !important; */
}

/* 値下がりしました ○○% @wishlist */
.itemPriceDrop { font: bold 120% sans-serif !important; }
.itemPriceDrop .a-text-bold {
color: #d00 !important;
font: bold 180% sans-serif !important; /* 120% * 180% = 216% */
}
.itemPriceDrop .a-text-bold:after { content: "\A"; white-space: pre !important; }

/* Flash Ads */
[id^="nav_sitewide_msg_"] object
{ display: none !important; }
}
