/* Amazon.co.jp tweak */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("www.amazon.co.jp") {
  /* Cart button on top navigation */
  #nav-cart { opacity: 0.9 !important; }
  #nav-cart[aria-label$="：0"]:not(:hover) { opacity: 0.3 !important; }

  /* 3rd party reseller */
  #merchant-info > a[href*="seller="], /* Item page (Description) */
  #soldByThirdParty b,                 /* Item page (Add to Cart) */
  .sc-seller > a[href*="seller="]      /* Shopping cart */
  { color: #d00 !important; font: bold 240% sans-serif !important; word-wrap: break-word !important; }

  #soldByThirdParty b::before { content: "\A"; white-space: pre !important; }


  /* お客様は〇〇にこの商品を注文しました */
  .a-alert-info      { border-color: #fa0 !important; width: 720px !important; }
  .a-alert-container { background-color: #feb !important; }

  /* 〇〇日にお届けするには今から〇〇時間以内にお急ぎ便 */
  #ddmDeliveryMessage { text-align: left !important; padding: 0.7em 1.2em 1em !important; background: #efe !important; }
  #ddmDeliveryMessage b, #ddmFastestCountdown { font: bold 150% sans-serif !important; white-space: nowrap !important; }

  /* Amazonプライム会員資格は〇〇に終了します */
  .prime-alert-warning {
    font: x-small/1.4 sans-serif !important;
    position: absolute !important;
    right: 1rem !important;
    padding: 0.4em 1em !important;
    width: 480px !important;
    border: none !important;
    background: #fee !important;
  }
  .prime-alert-content { padding: 0 !important; }

  /* 品薄または希少等の理由により参考価格よりも高い価格で販売されている */
  .listPriceAlertPopover   { transform: scale(1.5) !important; margin: 0.4em 0.8em !important; }
  .listPriceAlertPopover i { vertical-align: middle !important; }

  .listPriceAlertPopover + a { vertical-align: bottom !important; }
  .listPriceAlertPopover + a > span:first-child {
    font-weight: normal !important;
    text-decoration: line-through double !important;
  }

  /* 値下がりしました ○○% @wishlist */
  .itemPriceDrop { font: bold 120% sans-serif !important; }
  .itemPriceDrop .a-text-bold { color: #d00 !important; font: bold 180% sans-serif !important; }
  .itemPriceDrop .a-text-bold::after { content: "\A"; white-space: pre !important; }


  /* Opaque elements */
  #kcpApp_feature_div,              /* Kindle無料アプリをダウンロード */
  #SendSample,                      /* 無料サンプルを送信 */
  #primenote_feature_div,           /* 別の出品者から価格が低い商品が出品されています / Amazonプライムの対象外です */
  #olp_feature_div, .tmm-olp-links, /* 新品の出品 : ○ ￥○○より / \○○ からの ○ 中古 */
  #moreBuyingChoices_feature_div,   /* こちらからもご購入いただけます */
  #sellYoursHere_feature_div,       /* この商品をお持ちですか？ */
  #usedBuySection, #usedbuyBox, #unqualifiedBuyBox > * > :not(#wishlistButtonStack), /* 中古品（カートに入れるボタン） */
  #tellAFriendBox_feature_div, #tellAFriendBylineBox_feature_div,                    /* シェアする */

  .itemUsedAndNew,                                     /* ○○点の新品/中古品 ○○円より @wishlist */
  .itemNotGiftableMessage, .itemNotGiftablePopoverLink /* 現在この商品はギフトとして購入することができません @wishlist */
  { opacity: 0.3 !important; }

}

