/* Amazon.co.jp tweak */
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www.amazon.co.jp") {
  /* Cart button on top navigation */
  #nav-cart {
    opacity: 0.9 !important;
  }
  #nav-cart[aria-label$="：0"]:not(:hover) {
    opacity: 0.3 !important;
  }

  /* 3rd party reseller */
  #merchant-info > a[href*="seller="] {
    color: #d00 !important;
    font: bold 220% sans-serif !important;
    word-wrap: break-word !important;
  }

  /* 〇〇日にお届けするには今から〇〇時間以内にお急ぎ便 */
  #ddmDeliveryMessage {
    text-align: left !important;
    padding: 0.7em 1.2em 1em !important;
    background: #efe !important;
  }
  #ddmDeliveryMessage b, #ddmFastestCountdown {
    font: bold 150% sans-serif !important;
    white-space: nowrap !important;
  }

  /* このKindle版は読者によって問題が報告されています */
  #kcqWarning .a-alert-content {
    font: bold larger/1 sans-serif !important;
  }
  #kcqWarning .a-icon, #kcqWarning + i {
    transform: scale(1.5) !important;
    vertical-align: middle !important;
  }

  /* 品薄または希少等の理由により参考価格よりも高い価格で販売されている */
  .listPriceAlertPopoverIcon {
    transform: scale(1.4) !important;
  }
  .listPriceAlertPopover + a .a-price-whole {
    font-weight: normal !important;
    text-decoration: line-through double !important;
  }

  /* 値下がりしました ○○% @wishlist */
  .itemPriceDrop {
    font: bold 120% sans-serif !important;
  }
  .itemPriceDrop .a-text-bold {
    color: #d00 !important;
    font: bold 180% sans-serif !important;
    display: block !important;
  }

  /* ウォッチリストから削除 */
  .a-declarative[data-action="s-watchlist-remove"] .a-button-text {
    color: #c00 !important;
  }

  /* Opaque elements */
  #kcpApp_feature_div,              /* Kindle無料アプリをダウンロード */
  #SendSample,                      /* 無料サンプルを送信 */
  #primenote_feature_div,           /* 別の出品者から価格が低い商品が出品されています / Amazonプライムの対象外です */
  #olp_feature_div, .tmm-olp-links, /* 新品の出品 : ○ ￥○○より / \○○ からの ○ 中古 */
  #moreBuyingChoices_feature_div,   /* こちらからもご購入いただけます */
  #sellYoursHere_feature_div,       /* この商品をお持ちですか？ */
  #usedBuySection, #usedbuyBox, #unqualifiedBuyBox                /* 中古品（カートに入れるボタン） */
  #tellAFriendBox_feature_div, #tellAFriendBylineBox_feature_div, /* シェアする */

  .itemUsedAndNew,                                     /* ○○点の新品/中古品 ○○円より @wishlist */
  .itemNotGiftableMessage, .itemNotGiftablePopoverLink /* 現在この商品はギフトとして購入することができません @wishlist */
  {
    opacity: 0.3 !important;
  }
}

