/* AutoPagerize page separator pretty print */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix("http://") {
.autopagerize_page_separator { display: none !important; }

.autopagerize_page_info {
color: #fff !important;
font: 14px/2.5 "Segoe UI",sans-serif !important;
text-align: center !important;
text-transform: capitalize !important;
letter-spacing: 0.2em !important;
margin: 2em !important;
padding: 0 2em !important;
background: #666 !important;
border-radius: 0.5em !important;
clear: both !important;
}
.autopagerize_page_info a {
color: #fff !important;
font-weight: bold !important;
text-decoration: none !important;
background: #666 !important;
}
}
