/* Bye-bye MS Mincho */
@namespace url(http://www.w3.org/1999/xhtml);

@font-face {
  font-family: "ＭＳ Ｐ明朝";
  src: local("HiraMinProN-W3"), local("MS PMincho");
}

@font-face {
  font-family: "MS PMincho";
  src: local("HiraMinProN-W3"), local("MS PMincho");
}

@font-face {
  font-family: "ＭＳ 明朝";
  src: local("HiraMinProN-W3"), local("MS Mincho");
}

@font-face {
  font-family: "MS Mincho";
  src: local("HiraMinProN-W3"), local("MS Mincho");
}
