/* Bye-bye MS Gothic */
@namespace url("http://www.w3.org/1999/xhtml");

@font-face {
  font-family: "ＭＳ Ｐゴシック";
  src: local("Noto Sans JP"), local("Noto Sans CJK JP"), local("ヒラギノ角ゴ ProN"), local("Meiryo"), local("MS PGothic");
}
@font-face {
  font-family: "MS PGothic";
  src: local("Noto Sans JP"), local("Noto Sans CJK JP"), local("ヒラギノ角ゴ ProN"), local("Meiryo"), local("MS PGothic");
}
@font-face {
  font-family: "ＭＳ ゴシック";
  src: local("Source Han Code JP"), local("MS Gothic");
}
@font-face {
  font-family: "MS Gothic";
  src: local("Source Han Code JP"), local("MS Gothic");
}
@font-face {
  font-family: "MS UI Gothic";
  src: local("Noto Sans JP"), local("Noto Sans CJK JP"), local("ヒラギノ角ゴ ProN"), local("Meiryo UI"), local("MS UI Gothic");
}
