/* Bye-bye Meiryo */
@namespace url("http://www.w3.org/1999/xhtml");

@font-face {
  font-family: "メイリオ";
  src: local("Noto Sans JP"), local("Noto Sans CJK JP"), local("ヒラギノ角ゴ ProN"), local("Meiryo");
}
@font-face {
  font-family: "Meiryo";
  src: local("Noto Sans JP"), local("Noto Sans CJK JP"), local("ヒラギノ角ゴ ProN"), local("Meiryo");
}
@font-face {
  font-family: "Meiryo UI";
  src: local("Noto Sans JP"), local("Noto Sans CJK JP"), local("ヒラギノ角ゴ ProN"), local("Meiryo UI");
}
