/* Cleaner for ALC Eijiro */
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("eow.alc.co.jp") {
  #AreaBody > :not(#fixedBox):not(#AreaUpperLeft),
  #fixedBox > :not(.search_area_left),
  #AreaUpperLeftInner > :not(#resultsArea),
  #searchHeader, #sw, #eijiro_img, .tango, .ex_sentence, .pr_text,
  #itemsNumber .smallredfont,
  input[type="image"] {
    display: none !important;
  }

  #AreaBody {
    margin: 0 4rem !important;
    padding: 0 !important;
  }
  #AreaUpperLeft {
    margin: 5rem 0 !important;
    padding: 0 !important;
  }
  #AreaUpperLeftContainer {
    max-width: 80% !important;
    margin: 0 !important;
  }

  #fixedBox {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0.8rem 0 !important;
    width: 100% !important;
    height: auto !important;
    border: none !important;
    background: #fff !important;
  }
  .search_box {
    width: 100% !important;
    margin: 0 2em 0 !important;
    padding: 0.2em 0.4em !important;
  }
  #q {
    font: 22px/1 monospace !important;
    width: 28em !important;
    border: 1px solid #aaa !important;
  }

  #resultsArea {
    font: 0.9rem/1.7 Arial, sans-serif !important;
  }
  .sas {
    font: 120%/1.4 sans-serif !important;
    margin: 1em 0 !important;
  }

  .midashi, .midashi_je {
    font-size: 120% !important;
    padding: 0 !important;
  }
  .midashi + div, .midashi_je + div {
    line-height: 1.75 !important;
    margin: 0.2em 0 1em !important;
    padding: 0 !important;
  }

  .itemPostion {
    margin: 0 !important;
  }
  #itemsNumber {
    clear: both !important;
  }
  #navigation {
    margin: 0 !important;
  }
  .navif {
    border-style: none !important;
  }

  #paging {
    font-size: 120% !important;
    margin: 0 0 1rem !important;
    width: 70% !important;
    float: right !important;
    text-align: right !important;
  }
  #paging a {
    padding: 0 !important;
  }

  .label::before { content: "\A"; white-space: pre; }

  #resultsList > div[style] {
    margin-left: 0 !important;
    font: small/1.4 sans-serif !important;
  }
}
