/* Cleaner for Impress watch */
@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document domain("impress.co.jp") {
  /* Hide category menu */
  #category-nav {
    display: none !important;
  }

  /* Hide gadgets */
  .social {
    display: none !important;
  }

  /* Kill ads */
  .ad.billboard {
    display: none !important;
  }
}
