/* Cleaner for ALC Eijiro */
@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document domain("eow.alc.co.jp") {
  .header > :not(#fix),
  #AreaBody > .wrap > :not(#main),
  #footer,
  #AreaUpperLeftContainer > br,
  #tabbodyLeft > :not(.search_box),
  #tabbodyRight,
  h2.gray,
  .tango, .pr_text, .sas, .adbox, #navigation, #random_links_area {
    display: none !important;
  }

  #AreaBody > .wrap,
  #AreaUpperLeftContainer {
    margin: 0 !important;
    max-width: initial !important;
  }
  #main {
    margin: 0 8rem !important;
    width: 40rem !important;
    max-width: initial !important;
  }

  #fix {
    position: fixed !important;
    top: 0 !important;
    left: 8rem !important;
  }
  #fixedBox {
    height: initial !important;
  }
  #q {
    font: 22px/1 monospace !important;
  }

  #resultsArea, #resultsArea_je {
    font: 0.9rem/1.7 Arial, sans-serif !important;
    margin-top: 60px !important;
  }
  #resultsList > div[style]:first-child {
    margin: 0 !important;
  }

  .midashi, .midashi_je {
    font-size: 120% !important;
    padding: 0 !important;
  }
  .midashi + div, .midashi_je + div {
    line-height: 1.75 !important;
    margin: 0.1em 0 1em !important;
    padding: 0 !important;
  }
  a {
    border-bottom: none !important;
  }

  p {
    padding: 0 !important;
  }

  #paging {
    margin: 0 !important;
  }

  .attr .label::before {
    content: "\A";
    white-space: pre;
  }
}
