/* Comfortable layout for Impress watch */
@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document domain("impress.co.jp") {
  /* Loose page width */
  #page-wrap {
    width: 100% !important;
  }
  #page, #global-nav > div {
    width: 70vw !important;
  }

  #main {
    float: none !important;
    width: auto !important;

    line-height: 2 !important;
  }

  /* Show bigger image by default */
  #zoom #page {
    width: 100% !important;
  }
  #main-image-wrap, #main-image {
    max-width: 100% !important;
  }

  #zoom-btn {
    display: none !important;
  }
}
