/* Comfortable layout for JMA */
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www.jma.go.jp") {
  /* Common */
  body { width: 75vw !important; margin: 0 auto !important; }

  #main, table.forecast { width: calc(75vw - 340px) !important; }
  #sidebar, #submenu { width: 300px !important; }

  #submenu { position: initial !important; left: initial !important; }

  #info, #info table:not(#ASFC_Table) { width: 100% !important; }

  #yjsearch    { display: none !important; }
  #header_link { float: right !important; width: 28em !important; }

  /* Bug fix */
  #others { width: auto !important; }
  #tablist :-moz-any(.button-up, .button-off) { height: auto !important; }


  /* Forecast */
  .info { width: 18em !important; }

  /* Weekly forecast */
  .for { width: 100px !important; }
}
