/* Comfortable layout for Impress watch */
@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document domain("impress.co.jp") {
  #page-wrap {
    width: 100% !important;
  }
  :is(#top, #article, #listing) #page,
  #global-nav {
    width: 65vw !important;
    min-width: 980px !important;
  }
  #global-nav > div,
  #gnav {
    position: initial !important;
    width: auto !important;
  }

  #main {
    float: none !important;
    width: auto !important;

    line-height: 2 !important;
  }

  /* for photo page */
  #zoom #page {
    min-width: 100vw !important;
  }
}
