/* Comfortable layout for MyJCB */
@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document domain("my.jcb.co.jp") {
  .platformY1 {
    background-image: none !important;
  }

  .platformY1 table:not([class]) th,
  .platformY1 table:not([class]) td,
  .platformY1 table:not([class]) p {
    white-space: nowrap !important;
    width: auto !important;
  }
}
