/* Comfortable layout for Vpass */
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("https://www.smbc-card.com/mem/") {
  #header, #gNavi, #contWrap {
    width: 75vw !important;
    max-width: initial !important;
  }
}

@-moz-document url-prefix("https://www.smbc-card.com/memx/") {
  #header, #gNavi, .wrapper, .wrap_inner {
    width: 75vw !important;
    overflow-x: visible !important;
  }
  .left      { width: 220px !important; }
  .container { width: calc(75vw - 250px) !important; }
}
