/* Comfortable layout for JMA */
@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document domain("www.jma.go.jp") {
  /* Common */
  :root {
    --page-width: 75vw;
  }

  body {
    width: var(--page-width) !important;
    min-width: 1000px !important;
    margin: 0 auto !important;
  }

  #main, table.forecast {
    width: calc(var(--page-width) - 340px) !important;
    min-width: 660px !important;
  }
  #sidebar, #submenu {
    width: 300px !important;
  }

  #submenu {
    position: initial !important;
    left: initial !important;
  }

  #info, #info table:not(#ASFC_Table) {
    width: 100% !important;
  }

  #yjsearch {
    display: none !important;
  }
  #header_link {
    float: right !important;
    width: 28em !important;
  }

  /* Bug fix */
  #others    { width: auto !important; }
  #others td { white-space: nowrap !important; }

  #tablist .button-up, #tablist .button-off {
    height: auto !important;
  }


  /* Forecast */
  .info {
    width: 18em !important;
  }

  /* Weekly forecast */
  .for {
    width: calc((var(--page-width) - 340px) / 8) !important;
    max-width: 90px !important;
  }
}

@-moz-document domain("jma.go.jp") {
  .jma_ad_space {
    display: none !important;
  }
}
