/* Display map in full screen for X-RAIN */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix("http://www.river.go.jp/x/krd0107010.php") {
  /* Display map in full screen */
  #main { width: 100% !important; }
  #map-contents { width: auto !important; }

  #single-mp-radar, #mp-radar {
    width: auto !important;
    height: 920px !important;
  }

  #legendPanel1 {
    top: initial !important;
    left: initial !important;
    bottom: 255px !important;
    right: 80px !important;
  }
  #mapDate {
    top: initial !important;
    bottom: 4px !important;
    right: 4px !important;
  }

  #map-size-btn { display: none !important; }


  /* Adjust top menu position */
  #logo { float: left !important; }
  .menu { float: right !important; }
  header > div:empty { display: none !important; }

  #contents { clear: both !important; }
}
