/* Futaba channel tweak */
@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document domain("2chan.net") {
  /* General */
  body[bgcolor] {
    margin: 1rem auto !important;
    width: 80vw !important;
  }
  hr {
    visibility: collapse !important;
    clear: both !important;
  }
  a {
    text-decoration: none !important;
  }

  /* Catalog */
  #cattable td {
    vertical-align: bottom !important;
  }

  /* Form */
  body > form:first-of-type {
    position: fixed !important;
    right: 1em !important;
    bottom: 1em !important;
    border: 1px #800000 solid !important;
    border-radius: 0.2em !important;
    padding: 0.4em !important;
    background: #ffe !important;
  }

  #reszb {
    display: none !important;
  }

  /* Res */
  .thre table {
    clear: both !important;
    padding-top: 0.4em !important;
  }
  .rtd {
    width: 800px !important;
    padding: 0.4em 0.6em !important;
    border-radius: 4px !important;
  }
  .rtd blockquote {
    margin: 0; /* w/o !important. Give a priority to site-style. */
    padding-top: 0.4em !important;
    border-top: 1px dashed #c84 !important;
  }

  /* Reply */
  .hsbn {
    font-size: 1.8rem !important;
  }

  /* Reload */
  #contres {
    position: static !important;
    display: block !important;
    margin: 1em 1em 0 !important;
    font-size: 1.8rem !important;
  }
  #contdisp {
    margin-left: 1.4em !important;
  }

  /* EOL */
  .cntd {
    font: x-large/1.8 sans-serif !important;
  }

  .thre > blockquote + font[color] > b {
    font: bold x-large/1 sans-serif !important;
  }

  /* Soudane */
  .sod {
    display: none !important;
  }

  /* Ad blocker */
  iframe,
  body > div:not(.thre) {
    display: none !important;
  }
}
