/* Google web search tweak */
@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document
  url-prefix("https://www.google.com/search"),
  url-prefix("https://www.google.com/webhp"),
  url-prefix("https://www.google.com/#q="),
  url-prefix("https://www.google.co.jp/search"),
  url-prefix("https://www.google.co.jp/webhp"),
  url-prefix("https://www.google.co.jp/#q=")
{
  /* Result */
  .mw .s {
    line-height: 1.5 !important;
  }

  /* ADs */
  .mw #tads, .mw #bottomads {
    background: #ffd !important;
  }

  /* ChillingEffects */
  .mw .mfr   { font: x-small/1.4 sans-serif !important; opacity: 0.6 !important; }
  .mw .mfr i { font-style: normal !important; }

  /* Missing words and/or Recently visited page */
  .mw ._Tib   { font: bold larger/2 sans-serif !important; }
  .mw ._Tib s { text-decoration: none !important; }

  .mw ._Tib s::before {
    content: "\2718";
    color: #c00;
  }

  /* Hacked / Compromised */
  .mw .slp a.fl[href^="/url"]:only-child,
  .mw .slp a.fl[href^="/support"]:only-child,
  .mw .slp a.fl[href^="https://support.google.com/"]:only-child {
    color: #d00 !important;
    font-weight: bold !important;
  }

  /* Google promotion */
  .mw #wmxmsg {
    opacity: 0.3 !important;
  }
}
