/* Google web search tweak */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix("https://www.google.com/search"), url-prefix("https://www.google.co.jp/search") {
  .mw #center_col { width: 46em !important; }
  .mw .s { max-width: 45em !important; line-height: 1.5 !important;  }

  .mw #rhs { margin-left: 62em !important; }
  .mw #nyc { margin-left: 55em !important; }

  .mw .mfr   { font: x-small/1.4 sans-serif !important; opacity: 0.6 !important; }
  .mw .mfr i { font-style: normal !important; }

  .mw .slp a.fl { color: #e00 !important; font-weight: bold !important; background: #fee !important; }

  .mw ._Tib   { font: bold large/2 sans-serif !important; }
  .mw ._Tib s { text-decoration: none !important; }
}
