/* Google web search tweak */
@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document
  url-prefix("https://www.google.com/search"),
  url-prefix("https://www.google.co.jp/search")
{
  /* ADs */
  #tads, #tadsb {
    background: #ffd !important;
  }

  :is(#tads, #tadsb) * {
    background-color: inherit !important;
  }


  /* ChillingEffects */
  #extrares {
    color: #999 !important;
    font: x-small/1.4 sans-serif !important;
  }

  /* Missing words and/or Recently visited page */
  .TXwUJf {
    font: bold larger/2 sans-serif !important;
  }
  .TXwUJf s {
    text-decoration: none !important;
  }

  .TXwUJf s::before {
    content: "\2718";
    color: #c00;
  }

  /* Hacked / Compromised */
  .slp a.fl[href^="/url"]:only-child,
  .slp a.fl[href^="/support"]:only-child,
  .slp a.fl[href^="https://support.google.com/"]:only-child {
    color: #d00 !important;
    font-weight: bold !important;
  }

  /* Google promotion */
  #wmxmsg {
    opacity: 0.3 !important;
  }
}
