/* Hide delete button from Amazon music library */
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("music.amazon.co.jp") {
  a[href^="#remove/"],            /* Delete */
  #contextMenu > li:nth-child(2)  /* Remove from library */
  {
    display: none !important;
  }
}
