/* Impress watch tweak */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("impress.co.jp") {
  /* Loose page width */
  #page-wrap { width: 100% !important; }
  #page, #global-nav > div { width: 80% !important; }

  #main {
    float: none !important;
    width: auto !important;

    line-height: 1.8 !important;
  }

  /* Show bigger image by default */
  #zoom #page { width: 100% !important; }
  #main-image-wrap, #main-image { max-width: 100% !important; }

  #zoom-btn { display: none !important; }


  /* Hide category menu */
  #category-nav { display: none !important; }
  .gnav-hide header { padding-bottom: 0 !important; }

  /* Hide gadgets */
  .social { display: none !important; }

  /* Kill ads */
  .ad.billboard { display: none !important; }
}
