/* Show last modified timestamp for Wikipedia */
@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document domain("wikipedia.org") {
  #footer-info-lastmod {
    padding: 0 !important;
    position: absolute !important;
    top: 0 !important;
    left: 22em !important;
    display: block !important;
  }
}
