/* Show last modified timestamp for Wikipedia */
@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document domain("wikipedia.org") {
  #footer-info-lastmod {
    color: #888 !important;
    font: 0.8rem/1 sans-serif !important;
    padding: 0.2rem 0 !important;
    position: absolute !important;
    top: 3.5rem !important;
    left: 18rem !important;
    display: block !important;
    width: 28rem !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}
