/* SilverReader tweak */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix("https://silverreader.com/") {
/* Entry */
.feed-details #detail-title { max-width: 90% !important; font: bold 120% sans-serif !important; }
.feed-details #detail-title + h4 { margin-top: 0.2em !important; }

.feed-details .feed-item-content { max-width: 80% !important; line-height: 1.8 !important; }

.feed-item-unread { border-left-color: #428BCA !important; }
.feed-item-unread .feed-details { color: #777 !important; }
    
.feed-item-footer { display: none !important; }
    
/* Advertise */
.feed-item a[href^="http://rss.rssad.jp/rss/ad/"] { color: #ccc !important; font: small/1.0 sans-serif !important; }
.feed-item img[src^="http://bnr.rssad.jp/"] { display: none !important; }
}
