/* Vpass tweak */
@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document url-prefix("https://www.smbc-card.com/memx/") {
  /* Kill loading curtain */
  body > div[style]:first-child {
    display: none !important;
  }

  /* Hide banners */
  #offer_area {
    opacity: 0.2 !important;
  }

  /* Open header menu immediately */
  .megaMenu_itemBody, #header_overlay {
    transition: initial !important;
  }
}

@-moz-document url-prefix("https://www.smbc-card.com/memx/web_meisai/") {
  /* Comfortable layout */
  .wrapper, .wrap_inner, .container {
    width: 60vw !important;
  }

  /* Detail table prettify */
  #meisaiTable td {
    line-height: 1 !important;
    white-space: nowrap !important;
  }
  #meisaiTable td:only-child {
    background-color: #ffc !important;
  }
}
