/* [XUL] Change the location bar color for secure sites */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
#urlbar[pageproxystate="valid"] #identity-box.verifiedIdentity {
  background-color: #efe !important;
}

#urlbar[pageproxystate="valid"] #identity-box.verifiedDomain,
#urlbar[pageproxystate="valid"] #identity-box.mixedActiveBlocked {
  background-color: #ffb !important;
}

#urlbar[pageproxystate="valid"] #identity-box.verifiedDomain::after,
#urlbar[pageproxystate="valid"] #identity-box.mixedActiveBlocked::after {
  content: attr(tooltiptext);
  display: flex !important;
  color: #888 !important;
  padding: 0 2px !important;
}

#urlbar[pageproxystate="valid"] #identity-box.mixedDisplayContent,
#urlbar[pageproxystate="valid"] #identity-box.mixedDisplayContentLoadedActiveBlocked {
  background-color: #fdd !important;
}
