/* [XUL] Hide context menu elements */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Page menu

 * [ナビゲーションアイコン]
 * [選択したURLを開く][リンクを新しい...で開く][このリンクをブックマーク]
 * [...をメールで送信]
 * [名前をつけて...を保存][スナップショットを保存]
 * [再生][一時停止][ミュート][ミュート解除]
 * [全画面表示][全画面表示解除][動画を端末に送る][コントロールを隠す]
 * [デスクトップの背景に設定][画像の情報を表示][選択した部分のソースを表示]
 * [切り取り][削除][すべて選択][この検索にキーワードを設定][スペルチェックを行う]
 * [背景画像を表示]（無効化されているとき） */
#context-navigation,
#context-openlinkincurrent, #context-openlink, #context-openlinkprivate, #context-bookmarklink,
#context-sendpage, #context-sendlink, #context-sendimage, #context-sendvideo, #context-sendaudio,
#context-savepage, #context-saveimage, #context-savevideo, #context-saveaudio, #context-video-saveimage,
#context-media-play, #context-media-pause, #context-media-mute, #context-media-unmute,
#context-video-fullscreen, #context-leave-dom-fullscreen, #context-castvideo, #context-media-hidecontrols,
#context-setDesktopBackground, #context-viewimageinfo, #context-viewpartialsource-selection,
#context-cut, #context-delete, #context-selectall, #context-keywordfield, #spell-check-enabled,
#context-viewbgimage[disabled],

#contentAreaContextMenu > menuseparator:not(:-moz-any(#page-menu-separator, #context-sep-open, #context-sep-copylink, #context-sep-undo, #inspect-separator)),

/* Frame menu */
#context-openframe, #context-bookmarkframe, #context-saveframe, #context-printframe,
#frame menuseparator:not(:last-of-type),

/* Tab menu */
#context_reloadTab, #context_toggleMuteTab, #context_pinTab, #context_unpinTab, #context_openTabInWindow,
#context_reloadAllTabs, #context_bookmarkAllTabs, #context_undoCloseTab, #context_closeTab,
#tabContextMenu menuseparator,

/* URL bar/Search bar menu */
:-moz-any(#urlbar, #searchbar) menuitem:-moz-any([cmd='cmd_cut'], [cmd='cmd_paste'], [cmd='cmd_delete'], [cmd='cmd_selectAll']),
:-moz-any(#urlbar, #searchbar) menuitem[cmd='cmd_delete'] + menuseparator,

/* Search bar menu */
#searchbar menuitem[cmd="cmd_clearhistory"],

/* Bookmark menu */
#placesContext menuitem:not(:-moz-any(#placesContext_open, #placesContext_open\:newtab, #placesContext_openContainer\:tabs)),
#placesContext menuseparator,

/* Toolbar menu */
#toolbar-context-menu
{ display: none !important; }

