/* Kindle Cloud Reader tweak */
@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document domain("read.amazon.co.jp") {
  /* Paging arrow */
  .pageArrow {
    background: floralwhite !important;
  }

  /* Overray element opacity */
  .immersive_slide_area {
    opacity: 0.4 !important;
  }
  .immersive_slide_area:hover {
    opacity: 0.8 !important;
  }
}
