/* [XUL] Bring back a status bar using the add-on bar */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
#addonbar-closebutton { display: none !important; }

#main-window:not([inFullscreen="true"]) statuspanel {
position: fixed !important;
bottom: 0 !important;
left: 0 !important;
}
#main-window:not([inFullscreen="true"]) .statuspanel-label {
color: -moz-dialogtext !important;
background: transparent !important;
border: none !important;

padding-right: 240px !important;
}
