version: 2.1
executors:
  node-current:
    docker:
      - image: node:current
    working_directory: ~/project
jobs:
  install:
    executor: node-current
    steps:
      - checkout
      - restore_cache:
          key: stylelint-current
      - run:
          name: Install stylelint
          command: npm install stylelint stylelint-config-standard
      - save_cache:
          paths:
            - ./node_modules
            - ./package-lock.json
          key: stylelint-current-{{ checksum "./package-lock.json" }}
      - persist_to_workspace:
          root: ~/
          paths:
            - project
  version:
    executor: node-current
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: OS release
          command: cat /etc/os-release
      - run:
          name: Node.js version
          command: node --version
      - run:
          name: stylelint version
          command: npx stylelint --version
  lint:
    executor: node-current
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Run stylelint
          command: npx stylelint -- ./*.css
workflows:
  stylelint:
    jobs:
      - install
      - version:
          requires:
            - install
      - lint:
          requires:
            - install
